<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="htpstp.karner.labor.election.labor_election">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
